body {
  background-image: url(../../img/bg-body.png);
  background-repeat: repeat;
}

.hero {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  justify-content: center;
  gap: 24px;
}

.hero-images {
  position: relative;
  width: 180px;
  // height: 240px;
  padding-bottom: 13px;
}

.hero-event-image {
  width: 180px;
  height: 227px;
  object-fit: cover;
  border-radius: 50px 0;
  position: relative;
  z-index: 1;
}

.hero-image-rectangle {
  position: absolute;
  left: 10px;
  top: -10px;
  z-index: 0;
  pointer-events: none;
}

.hero-event-name {
  width: 194px;
  color: #dc56c5;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 13px;
}

.hero-event-date {
  width: 194px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 13px;
}

.hero-place {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.hero-place-icon {
  width: 16px;
  height: 16px;
}

.hero-event-place {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

// ! CARDS
.card {
  width: 210px;
  height: 345px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
  display: grid;
  justify-items: center;
  text-align: center;
}

.card2 {
  width: 210px;
  height: 345px;
  background-color: #0e0e0e;
  transition: all 0.2s;
  padding-top: 20px;
  padding-left: 10px;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}
