.pagination{
  display:flex;
  align-items:center;
  justify-content: center;
  gap:18px;
  margin-top: 83px;
}

.page{
  width:32px;
  height:32px;
  display:grid;
  place-items:center;
  text-decoration:none;
  color:#fff;
  font-size:16px;
  border:1px solid transparent;
  border-radius:6px;
}

.page.is-active{
border-radius: 10px 0;
border: 1px solid #DC56C5;
}

.page:hover{
  border-color:rgba(220, 86, 197, 0.5);
}

.page:focus-visible{
  outline:2px solid #dc56c5;
  outline-offset:3px;
}

.dots{
  color:#fff;
  opacity:0.8;
  user-select:none;
}

/* ! team! */
.team {
  color: #939393;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
text-align: center;
margin-top: 81px;
margin-bottom: 20px;
}