.header {
    padding-top: 40px;
    padding-bottom: 133px;
    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.80) 100%), url(../img/header-fons.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  &__icon {
    width: 136px;
    height: 100px;
    position: absolute;
    top: 31px;
    left: 40px;
  }

  &__title {
    color: #DC56C5;
text-align: center;
font-family: "Montserrat";
font-size: 50px;
font-weight: 900;
line-height: normal;
width: 588.0px;
height: 122.0px;
display: block;
margin: 0 auto;
margin-bottom: 52px;
  }

  &__inp {
    width: 270.0px;
height: 40.0px;
color: #939393;
font-family: "Montserrat";
font-size: 16px;
font-weight: 400;
line-height: normal;
border-radius: 20px;
background: rgba(255, 255, 255, 0.20);
backdrop-filter: blur(10px);
border: none;
padding: 10px 118px 10px 30px;

  }

  &__form {
    display: flex;
    gap: 30px;
    justify-content: center;

    &:hover{
        border: none;
          &__inp :hover {
   outline: 2px solid red;
}
    }
  }

}

