  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1080px) {
  }
.backdrop {
     position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(32, 13, 29, 0.60), rgba(32, 13, 29, 0.60));
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  opacity: 0;
}

.modal {
    position: relative;
    width: 272px;
    height: 915px;
    border-radius: 150px 0;
background: #FFF2FD;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.55);
padding: 75px 17px 104px 12px;

      @media screen and (min-width: 768px) {
        width: 595.0px;
height: 831.0px;
border-radius: 300px 0;
padding: 28px 17px 56px 50px;
  }

  @media screen and (min-width: 1080px) {
    width: 942.0px;
height: 1023.0px;
padding: 62px 30px 62px 30px;

  }

  &__btn {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: black;

  @media screen and (min-width: 1080px) {
     top: 30px;
    right: 30px;
  }

  }

  &__icon-btn {
    fill: red;
     width: 17px;
    height: 17px;

  @media screen and (min-width: 1080px) {
    width: 25px;
    height: 25px;
  }
  }


  &__img{
 width: 102.0px;
height: 102.0px;
display: block;
margin: 0 auto;
border-radius: 100px ;
margin-bottom: 8px;


  @media screen and (min-width: 768px) {
    width: 70px;
    height: 70px;
    margin-bottom: 43px;
  }

  @media screen and (min-width: 1080px) {
    width: 132.0px;
height: 132.0px;
margin-bottom: 41px;
  }
  }

  &__box{
      @media screen and (min-width: 768px) {
          display: flex;
    gap: 30px;
  }

  @media screen and (min-width: 1080px) {
    gap: 60px;
  }
  }

  &__images {
    display: none;

    
  @media screen and (min-width: 768px) {
    display: flex;
    width: 233.0px;
height: 416.0px;
  }

  @media screen and (min-width: 1080px) {
    width: 360.0px;
height: 641.0px;
  }
  }

  &__title {
color: #DC56C5;
text-align: center;
font-family: "Montserrat";
font-size: 20px;
font-weight: 600;
line-height: normal;
margin-bottom: 5px;


  @media screen and (min-width: 768px) {
    text-align: start;
  }

  @media screen and (min-width: 1080px) {
font-size: 24px;
margin-bottom: 7px;
  }
  }

  &__text {
color: #0E0E0E;
text-align: center;
font-family: "Montserrat";
font-size: 16px;
font-weight: 400;
line-height: normal;
margin-bottom: 10px;


  @media screen and (min-width: 768px) {
    text-align: start;
  }

  @media screen and (min-width: 1080px) {
font-size: 18px;
margin-bottom: 20px;
  }
  }

  &__icon {
    width: 24.0px;
height: 16.0px;
fill: #0E0E0E;


  @media screen and (min-width: 1080px) {
    width: 29.0px;
height: 19.3px;
  }
  }

  &__bex{
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__button {
color: #FFF;
font-family: "Montserrat";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 5px;
background: #4C00FE;
width: 145.0px;
height: 40.0px;
display: block;
margin-right: auto;
margin-left: auto;

  @media screen and (min-width: 768px) {
    margin-right: 0;
    margin-left: 0;
  }
  }

  &__button:nth-child(3){
    margin-bottom: 20px;
    
  @media screen and (min-width: 768px) {
    margin-bottom: 21px;
  }

  @media screen and (min-width: 1080px) {
    margin-bottom: 31px;
  }
  }

  &__sub{
color: #4C00FE;
font-family: "Montserrat";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 230.0px;
height: 40.0px;
border-radius: 5px;
border: 1px solid #4C00FE;
background-color: transparent;
margin-top: 25px;
display: block;
margin-right: auto;
margin-left: auto;

 @media screen and (min-width: 768px) {
    width: 255.0px;
height: 40.0px;
margin-top: 43px;
  }
  }

  
  @media screen and (min-width: 1080px) {
    margin-top: 45px;
  }
}



  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1080px) {
  }