.container {
    max-width: 1080px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    outline: 1px solid red;

    @media screen and (min-width: 480px) {
    width: 480px;
     outline: 1px solid red;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
     outline: 1px solid yellow;
  }

  @media screen and (min-width: 1080px) {
    width: 1080px;
     outline: 1px solid green;
  }
}
