<!-- <section class="hero">
  <div class="container">
    <div class="card">
      <div class="card2">
        <div class="hero-images">
          <img
            class="hero-event-image"
            src="./img/modal-decstop.jpg"
            alt="Eurovision 2021 finals"
          />
          <img class="hero-image-rectangle" src="./img/img-event.svg" alt="" />
        </div>
        <div class="hero-event-info">
          <p class="hero-event-name">Eurovision 2021 finals!</p>
          <p class="hero-event-date">2021-05-13</p>
          <div class="hero-place">
            <img class="hero-place-icon" src="./img/place.svg" alt="" />
            <p class="hero-event-place">Palace of Ukraine</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="hero">
  <div class="container">
    <ul class="hero__list">
      <li class="hero__item">
        <img class="hero__icon" src="./img/img-event.svg" alt="">
        <img src="./img/modal-decstop.jpg" alt="concert" class="hero__images" />
        <h3 class="hero__title">Eurovision 2021 finals!</h3>
        <div class="hero__box">
          <svg class="hero__img">
            <use href="./img/symbol-defs.svg#icon-place"></use>
          </svg>
          <h4 class="hero__desk">Palace of Ukraine</h4>
        </div>
        <p class="hero__text">2021-05-13</p>
      </li>
            <li class="hero__item">
        <img class="hero__icon" src="./img/img-event.svg" alt="">
        <img src="./img/modal-decstop.jpg" alt="concert" class="hero__images" />
        <h3 class="hero__title">Eurovision 2021 finals!</h3>
        <div class="hero__box">
          <svg class="hero__img">
            <use href="./img/symbol-defs.svg#icon-place"></use>
          </svg>
          <h4 class="hero__desk">Palace of Ukraine</h4>
        </div>
        <p class="hero__text">2021-05-13</p>
      </li>
            <li class="hero__item">
        <img class="hero__icon" src="./img/img-event.svg" alt="">
        <img src="./img/modal-decstop.jpg" alt="concert" class="hero__images" />
        <h3 class="hero__title">Eurovision 2021 finals!</h3>
        <div class="hero__box">
          <svg class="hero__img">
            <use href="./img/symbol-defs.svg#icon-place"></use>
          </svg>
          <h4 class="hero__desk">Palace of Ukraine</h4>
        </div>
        <p class="hero__text">2021-05-13</p>
      </li>
            <li class="hero__item">
        <img class="hero__icon" src="./img/img-event.svg" alt="">
        <img src="./img/modal-decstop.jpg" alt="concert" class="hero__images" />
        <h3 class="hero__title">Eurovision 2021 finals!</h3>
        <div class="hero__box">
          <svg class="hero__img">
            <use href="./img/symbol-defs.svg#icon-place"></use>
          </svg>
          <h4 class="hero__desk">Palace of Ukraine</h4>
        </div>
        <p class="hero__text">2021-05-13</p>
      </li>
            <li class="hero__item">
        <img class="hero__icon" src="./img/img-event.svg" alt="">
        <img src="./img/modal-decstop.jpg" alt="concert" class="hero__images" />
        <h3 class="hero__title">Eurovision 2021 finals!</h3>
        <div class="hero__box">
          <svg class="hero__img">
            <use href="./img/symbol-defs.svg#icon-place"></use>
          </svg>
          <h4 class="hero__desk">Palace of Ukraine</h4>
        </div>
        <p class="hero__text">2021-05-13</p>
      </li>
            <li class="hero__item">
        <img class="hero__icon" src="./img/img-event.svg" alt="">
        <img src="./img/modal-decstop.jpg" alt="concert" class="hero__images" />
        <h3 class="hero__title">Eurovision 2021 finals!</h3>
        <div class="hero__box">
          <svg class="hero__img">
            <use href="./img/symbol-defs.svg#icon-place"></use>
          </svg>
          <h4 class="hero__desk">Palace of Ukraine</h4>
        </div>
        <p class="hero__text">2021-05-13</p>
      </li>
            <li class="hero__item">
        <img class="hero__icon" src="./img/img-event.svg" alt="">
        <img src="./img/modal-decstop.jpg" alt="concert" class="hero__images" />
        <h3 class="hero__title">Eurovision 2021 finals!</h3>
        <div class="hero__box">
          <svg class="hero__img">
            <use href="./img/symbol-defs.svg#icon-place"></use>
          </svg>
          <h4 class="hero__desk">Palace of Ukraine</h4>
        </div>
        <p class="hero__text">2021-05-13</p>
      </li>
            <li class="hero__item">
        <img class="hero__icon" src="./img/img-event.svg" alt="">
        <img src="./img/modal-decstop.jpg" alt="concert" class="hero__images" />
        <h3 class="hero__title">Eurovision 2021 finals!</h3>
        <div class="hero__box">
          <svg class="hero__img">
            <use href="./img/symbol-defs.svg#icon-place"></use>
          </svg>
          <h4 class="hero__desk">Palace of Ukraine</h4>
        </div>
        <p class="hero__text">2021-05-13</p>
      </li>
            <li class="hero__item">
        <img class="hero__icon" src="./img/img-event.svg" alt="">
        <img src="./img/modal-decstop.jpg" alt="concert" class="hero__images" />
        <h3 class="hero__title">Eurovision 2021 finals!</h3>
        <div class="hero__box">
          <svg class="hero__img">
            <use href="./img/symbol-defs.svg#icon-place"></use>
          </svg>
          <h4 class="hero__desk">Palace of Ukraine</h4>
        </div>
        <p class="hero__text">2021-05-13</p>
      </li>
    </ul>
  </div>
</section>
