<section class="hero">
  <!-- ! CARDS -->
  <div class="hero-card">
    <div class="hero-images">
      <img
        class="hero-event-image"
        src="https://img.freepik.com/free-photo/closeup-scarlet-macaw-from-side-view-scarlet-macaw-closeup-head_488145-3540.jpg?semt=ais_hybrid&w=740&q=80"
        alt="Eurovision 2021 finals"
      />
      <img class="hero-image-rectangle" src="./photo/img-event.svg" alt="" />
    </div>

    <p class="hero-event-name">Eurovision 2021 finals!</p>
    <p class="hero-event-date">2021-05-13</p>

    <div class="hero-place">
      <img class="hero-place-icon" src="./photo/place.svg" alt="" />
      <p class="hero-event-place">Palace of Ukraine</p>
    </div>
  </div>
  <div class="hero-card">
    <div class="hero-images">
      <img
        class="hero-event-image"
        src="https://img.freepik.com/free-photo/closeup-scarlet-macaw-from-side-view-scarlet-macaw-closeup-head_488145-3540.jpg?semt=ais_hybrid&w=740&q=80"
        alt="Eurovision 2021 finals"
      />
      <img class="hero-image-rectangle" src="./photo/img-event.svg" alt="" />
    </div>

    <p class="hero-event-name">Eurovision 2021 finals!</p>
    <p class="hero-event-date">2021-05-13</p>

    <div class="hero-place">
      <img class="hero-place-icon" src="./photo/place.svg" alt="" />
      <p class="hero-event-place">Palace of Ukraine</p>
    </div>
  </div>
  <div class="hero-card">
    <div class="hero-images">
      <img
        class="hero-event-image"
        src="https://img.freepik.com/free-photo/closeup-scarlet-macaw-from-side-view-scarlet-macaw-closeup-head_488145-3540.jpg?semt=ais_hybrid&w=740&q=80"
        alt="Eurovision 2021 finals"
      />
      <img class="hero-image-rectangle" src="./photo/img-event.svg" alt="" />
    </div>

    <p class="hero-event-name">Eurovision 2021 finals!</p>
    <p class="hero-event-date">2021-05-13</p>

    <div class="hero-place">
      <img class="hero-place-icon" src="./photo/place.svg" alt="" />
      <p class="hero-event-place">Palace of Ukraine</p>
    </div>
  </div>
  <div class="hero-card">
    <div class="hero-images">
      <img
        class="hero-event-image"
        src="https://img.freepik.com/free-photo/closeup-scarlet-macaw-from-side-view-scarlet-macaw-closeup-head_488145-3540.jpg?semt=ais_hybrid&w=740&q=80"
        alt="Eurovision 2021 finals"
      />
      <img class="hero-image-rectangle" src="./photo/img-event.svg" alt="" />
    </div>

    <p class="hero-event-name">Eurovision 2021 finals!</p>
    <p class="hero-event-date">2021-05-13</p>

    <div class="hero-place">
      <img class="hero-place-icon" src="./photo/place.svg" alt="" />
      <p class="hero-event-place">Palace of Ukraine</p>
    </div>
  </div>
  <div class="hero-card">
    <div class="hero-images">
      <img
        class="hero-event-image"
        src="https://img.freepik.com/free-photo/closeup-scarlet-macaw-from-side-view-scarlet-macaw-closeup-head_488145-3540.jpg?semt=ais_hybrid&w=740&q=80"
        alt="Eurovision 2021 finals"
      />
      <img class="hero-image-rectangle" src="./photo/img-event.svg" alt="" />
    </div>

    <p class="hero-event-name">Eurovision 2021 finals!</p>
    <p class="hero-event-date">2021-05-13</p>

    <div class="hero-place">
      <img class="hero-place-icon" src="./photo/place.svg" alt="" />
      <p class="hero-event-place">Palace of Ukraine</p>
    </div>
  </div>
  <div class="hero-card">
    <div class="hero-images">
      <img
        class="hero-event-image"
        src="https://img.freepik.com/free-photo/closeup-scarlet-macaw-from-side-view-scarlet-macaw-closeup-head_488145-3540.jpg?semt=ais_hybrid&w=740&q=80"
        alt="Eurovision 2021 finals"
      />
      <img class="hero-image-rectangle" src="./photo/img-event.svg" alt="" />
    </div>

    <p class="hero-event-name">Eurovision 2021 finals!</p>
    <p class="hero-event-date">2021-05-13</p>

    <div class="hero-place">
      <img class="hero-place-icon" src="./photo/place.svg" alt="" />
      <p class="hero-event-place">Palace of Ukraine</p>
    </div>
  </div>
  <div class="hero-card">
    <div class="hero-images">
      <img
        class="hero-event-image"
        src="https://img.freepik.com/free-photo/closeup-scarlet-macaw-from-side-view-scarlet-macaw-closeup-head_488145-3540.jpg?semt=ais_hybrid&w=740&q=80"
        alt="Eurovision 2021 finals"
      />
      <img class="hero-image-rectangle" src="./photo/img-event.svg" alt="" />
    </div>

    <p class="hero-event-name">Eurovision 2021 finals!</p>
    <p class="hero-event-date">2021-05-13</p>

    <div class="hero-place">
      <img class="hero-place-icon" src="./photo/place.svg" alt="" />
      <p class="hero-event-place">Palace of Ukraine</p>
    </div>
  </div>
  <div class="hero-card">
    <div class="hero-images">
      <img
        class="hero-event-image"
        src="https://img.freepik.com/free-photo/closeup-scarlet-macaw-from-side-view-scarlet-macaw-closeup-head_488145-3540.jpg?semt=ais_hybrid&w=740&q=80"
        alt="Eurovision 2021 finals"
      />
      <img class="hero-image-rectangle" src="./photo/img-event.svg" alt="" />
    </div>

    <p class="hero-event-name">Eurovision 2021 finals!</p>
    <p class="hero-event-date">2021-05-13</p>

    <div class="hero-place">
      <img class="hero-place-icon" src="./photo/place.svg" alt="" />
      <p class="hero-event-place">Palace of Ukraine</p>
    </div>
  </div>
  <div class="hero-card">
    <div class="hero-images">
      <img
        class="hero-event-image"
        src="https://img.freepik.com/free-photo/closeup-scarlet-macaw-from-side-view-scarlet-macaw-closeup-head_488145-3540.jpg?semt=ais_hybrid&w=740&q=80"
        alt="Eurovision 2021 finals"
      />
      <img class="hero-image-rectangle" src="./photo/img-event.svg" alt="" />
    </div>

    <p class="hero-event-name">Eurovision 2021 finals!</p>
    <p class="hero-event-date">2021-05-13</p>

    <div class="hero-place">
      <img class="hero-place-icon" src="./photo/place.svg" alt="" />
      <p class="hero-event-place">Palace of Ukraine</p>
    </div>
  </div>
</section>
