<footer>
  <!-- ! PAGES -->
  <nav class="pagination">
    <button type="button" class="page is-active" data-page="1">1</button>
    <button type="button" class="page" data-page="2">2</button>
    <button type="button" class="page" data-page="3">3</button>
    <button type="button" class="page" data-page="4">4</button>
    <button type="button" class="page" data-page="5">5</button>
  </nav>
  <p class="team">
    © 2025 | All Rights Reserved | This Website was made by Lev and Mukola.
  </p>
</footer>
