<footer>
  <!-- ! PAGES -->
  <nav class="pagination" aria-label="Pagination">
    <button type="submit" class="page is-active">1</button
    ><button type="submit" class="page">2</button
    ><button type="submit" class="page">3</button
    ><button type="submit" class="page">4</button
    ><button type="submit" class="page">5</button>
       <span class="dots">…</span>
    <button type="submit" class="page">29</button>
  </nav>
    <p class="team">
      © 2025 | All Rights Reserved | This Website was made by Lev and Mukola.
    </p>
</footer>
