<header class="header">
    <div class="container">
<a href="./index.html" class="header__logo">
 <svg class="header__icon"><use href="./img/symbol-defs.svg#icon-logo"></use></svg>
</a>

<h1 class="header__title">
    FIND BEST EVENTS
AROUND THE WORLD
</h1>
<form class="header__form">
    <div class="header__box">
<input type="text" class="header__inp header__input" placeholder="Start searching">
<button type="button" class="header__btn">
<svg class="header__icons"><use href="./img/symbol-defs.svg#icon-search-icon"></use></svg>
</button>
</div>
<div class="header__bax">
    <select name="pets" class="header__input">
        <option  value="">Choose country</option>
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
    </select>
    <div class="header__fixbtn">
    <svg class="header__iconc"><use href="./img/symbol-defs.svg#icon-polygon"></use></svg>
        <svg class="icon icon-polygon"><use xlink:href="#icon-polygon"></use></svg>
    </div>
</div>
</form>
</div>
</header>
