 <div class="backdrop">
      <div class="modal">
        <button type="button" class="modal__btn">
            <svg class="modal__icon-btn">
            <use href="../img/symbol-defs.svg#icon-close"></use>
        </svg>
        </button>
        <img src="../img/modal-logo.jpg" alt="logo" class="modal__img">
        <div class="modal__box">
            <img src="../img/modal-decstop.jpg" alt="fonts" class="modal__images">
            <ul class="modal-list">
                <li class="modal__item">
                    <h2 class="modal__title">INFO</h2>
                    <p class="modal__text">Atlas Weekend is the largest music festival
in Ukraine.More than 200 artists will create
a proper music festival atmosphere on 10 stages</p>
                </li>
                <li class="modal__item">
                    <h2 class="modal__title">WHEN</h2>
                    <p class="modal__text">2021-06-09</p>
                     <p class="modal__text">20:00 (Kyiv/Ukraine)</p>
                </li>
                <li class="modal__item">
                    <h2 class="modal__title">WHERE</h2>
                    <p class="modal__text">Kyiv, Ukraine </p>
                    <p class="modal__text">VDNH</p>
                </li>
                <li class="modal__item">
                    <h2 class="modal__title">WHO</h2>
                    <p class="modal__text">The Black Eyed Peas</p>
                </li>
                <li class="modal__item">
                    <h2 class="modal__title">PRICES </h2>
                    <div class="modal__bex">
                        <svg class="modal__icon"><use href= "../img/symbol-defs.svg#icon-ticket"></use></svg>
                        <p class="modal__desk">Standart 300-500 UAH</p>
                    </div>     
                    <button type="submit" class="modal__button">BUY TICKETS</button>
                     <div class="modal__bex">
                        <svg class="modal__icon"><use href= "../img/symbol-defs.svg#icon-ticket"></use></svg>
                        <p class="modal__desk">VIP 1000-1500 UAH</p>
                    </div>             
                    <button type="submit" class="modal__button">BUY TICKETS</button>
                </li>
            </ul>
        </div>
            <button class="modal__sub" type="submit">MORE FROM THIS AUTHOR</button>
      </div>
    </div>